#a{
position : absolute;
	  top : 13%;
	  left : 80%
}
.button4 {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
	border-radius: 12px;
}
#text{
      position : absolute;
	  top : 10%;
	  left: 10%;
	  font-family : times new roman;
		color : black;
		font-weight : bold;
		font-size : 100%;
	  }
#stock{
		position : absolute;
		top : 37%;
		left : 15%;
		width : 30%;
		height : 40%;
	}
	#stocktext{
      position : absolute;
	  top : 54%;
	  left: 16%;
	  font-family : times new roman;
		color : black;
		font-weight : bold;
		font-size : 110%;
	  }
	#medicine{
		position : absolute;
		top : 35%;
		left : 30%;
		width : 30%;
		height : 40%;
	}
	#medicinetext{
      position : absolute;
	  top : 54%;
	  left: 31%;
	  font-family : times new roman;
		color : black;
		font-weight : bold;
		font-size : 110%;
	  }
	
	#customer{
		position : absolute;
		top : 35%;
		left : 45%;
		width : 30%;
		height : 40%;
	}
	#customertext{
      position : absolute;
	  top : 54%;
	  left: 46%;
	  font-family : times new roman;
		color : black;
		font-weight : bold;
		font-size : 110%;
	  }
	#billing{
		position : absolute;
		top : 35%;
		left : 60%;
		width : 30%;
		height : 40%;
	}
	#billingtext{
      position : absolute;
	  top : 54%;
	  left: 61%;
	  font-family : times new roman;
		color : black;
		font-weight : bold;
		font-size : 110%;
	  }